doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Sulabh
    script(src='/bower_components/jquery/dist/jquery.js')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    style(media='screen').
      
  body
    nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      a.navbar-brand(href='/' style="font-size:25px; margin-left:0px; padding-left:0px;") Sulabh 
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href='#')
              | Home 
              span.sr-only (current)
          li.nav-item
            img(src="/markerRed.png" style="height:20px;width:30px")
            p You are this
          li.nav-item
            img(src="/markerGreen.png" style="height:25px;width:20px")
            p These are toilets
    #map-canvas.container-fluid
    script(type='text/javascript').
      var currentPos;
      var infowindow;
      var map;
      
      document.getElementById('map-canvas').style.height=screen.height+'px';
      document.getElementById('map-canvas').style.width=screen.width+px;
      
      function showPosition(position)
      {
        console.log(position.coords.latitude +' '+position.coords.longitude+' '+position.coords.accuracy);
        currentPos=position;
      
        map = new google.maps.Map(document.getElementById('map-canvas'), {
          center: {lat: currentPos.coords.latitude, lng: currentPos.coords.longitude},
          zoom: 14
          }
        );
        
      var marker = new google.maps.Marker({
        position: {lat: currentPos.coords.latitude, lng: currentPos.coords.longitude},
        map: map
        }
      );
      
      infowindow = new google.maps.InfoWindow();
      
      var service = new google.maps.places.PlacesService(map);
      
      service.nearbySearch({
        location: {lat: currentPos.coords.latitude, lng: currentPos.coords.longitude},
        radius: 2000,
        keyword:'toilet'
        //type: ['School']
        },
        callback
      );
      
      function callback(results, status) {
        if (status === google.maps.places.PlacesServiceStatus.OK) {
          for (var i = 0; i < results.length; i++) {
            createMarker(results[i]);
            console.log(results[i]);
          }
        }
      }
      
      var cityCircle = new google.maps.Circle({
        strokeColor: '#0000FF',
        strokeOpacity: 0.5,
        strokeWeight: 2,
        fillColor: '#0000FF',
        fillOpacity: 0.35,
        map: map,
        center: {lat: currentPos.coords.latitude, lng: currentPos.coords.longitude},
        radius: 500
      });
      
      function createMarker(place) {
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location,
          icon:'http://labs.google.com/ridefinder/images/mm_20_green.png'
        }
        );
        google.maps.event.addListener(marker, 'click', function() {
          console.log('Marker Clicked');
        infowindow.setContent(
                `<div class="container"`+
                `<h5>`+place.name+`</h5>`+`<h5>`+place.vicinity+`</h5>`+
                '<br />'+`<a href="/review/${place.place_id}/${place.name}/${place.vicinity}" class="btn btn-primary" style="font-size:15px;text-decoration:none;" > Add Review </a>`+'<br />'
                +`<br/><a href="/review/view/${place.place_id}" class="btn btn-primary"style="font-size:15px;text-decoration:none;"> View Profile</a>`
                +`</div>`
                );
        infowindow.open(map, this);
        }
        );
      }
      }
      
      function initMap() {
        if(navigator.geolocation){
          navigator.geolocation.getCurrentPosition(showPosition,function(error)
            {
              if (error.code == error.PERMISSION_DENIED){
                currentPos={
                  coords:{
                    latitude:21.2497,
                    longitude:81.6050
                  }
                }
                showPosition(currentPos);
                }
            });
            }
        else{
          currentPos={
            coords:{
              latitude:21.2497,
              longitude:81.6050
            }
          }
        }
        showPosition(currentPos);
      }
    script(src='https://maps.googleapis.com/maps/api/js?callback=initMap&considerIp=true&libraries=places', async='', defer='')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
